.mb-section {
  margin-bottom: 14rem !important;
}

.mb-big {
  margin-bottom: 10rem !important;
}

.mb-medium {
  margin-bottom: 5rem !important;
}

.mb-small {
  margin-bottom: 4rem !important;
}

.mb-very-small {
  margin-bottom: 2.5rem !important;
}
