// SASS VARIABLES
// PRIMARY COLORS
$color-bright-red: #f25f3a;
$color-dark-blue: #242d52;

//NEUTRAL COLORS
$color-dark-grayish-blue: #9095a7;
$color-very-dark-blue: #1d1e25;
$color-very-pale-red: #ffefeb;
$color-very-light-gray: #fafafa;

//BREAKPOINTS
$bp-largest: 81.25em; // 1300px
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 50em; // 800px
$bp-smaller: 37.5em; // 600px
$bp-smallest: 28.125em; // 450px
