.primary-heading {
  font-size: 5.1rem;
  color: $color-dark-blue;
  font-weight: 700;
  line-height: 1.1;
}

.secondary-heading {
  font-size: 3.8rem;
  color: $color-dark-blue;
  line-height: 1.2;
  font-weight: 700;
}

.tertiary-heading {
  font-size: 1.8rem;
  color: $color-dark-blue;
}
